/* General editor css */



#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family:  xilliomono, 'Ubuntu Mono', 'Consolas', 'Monaco', 'Menlo', 'source-code-pro', monospace;
    left: 0;
    right: 0;
}

/* line highlights */
.ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.05);
}

.ace_gutter-active-line {
    background-color: #dcdcdc;
}

.ace_marker-layer .ace_error {
    background-color: #ffdcdc;
    position: absolute;
}

.ace_marker-layer .ace_highlight {
    background-color: #FFFFBF;
    position: absolute;
}

.ace_layer {

}

.ace_entity.ace_other.ace_attribute-name {
    color: #994409;
}

/* Breakpoints */
.ace_gutter-cell {
    position: relative;
}

.ace_gutter-cell.ace_breakpoint:before {
    border-radius: 100%;
    content: '';
    display: block;
    height: 8px;
    left: 20px;
    position: absolute;
    top: 4px;
    width: 8px;
    background: #DC042B;
}

.ace_gutter .ace_gutter-layer {
    width: 70px !important;
}
