bin/
dist/
xilliosettings.db
test-output/
/ESConsole/
/target/
/plugins/
/helpfiles

# Gradle
build/
.gradle/
!gradle-wrapper.jar

# Eclipse
.settings/
.metadata/
.classpath
.project

# IntelliJ
*.iml
.idea/
gradle/javafx.plugin
