xilliosettings.db
ESConsole/
plugins/
helpfiles/
xilliosettings.cfg

# Gradle
build/
.gradle/
!gradle-wrapper.jar

# Eclipse
.settings/
.metadata/
.classpath
.project
*/bin/
*/test-output/


# IntelliJ
*.iml
.idea/
