/*
 * Xillio Content Tools Help stylesheet.
 * 
 * :copyright: Copyright 2015 Xillio
 */
@import url("basic.css");

@font-face {
	font-family: 'Glober';
	font-style: normal;
	src: url('fonts/2B7348_1_0.eot');
	src: url('fonts/2B7348_1_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2B7348_1_0.woff') format('woff'),
		url('fonts/2B7348_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Glober';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/2B7348_0_0.eot');
	src: url('fonts/2B7348_0_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2B7348_0_0.woff') format('woff'),
		url('fonts/2B7348_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Glober';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/2B7348_3_0.eot');
	src: url('fonts/2B7348_3_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2B7348_3_0.woff') format('woff'),
		url('fonts/2B7348_3_0.ttf') format('truetype');
}

/* -- page layout ----------------------------------------------------------- */
body {
	-fx-font-family: "Glober SemiBold";
	font-family: "Glober SemiBold", Glober, Segoe UI, Arial, sans-serif;
	font-size: 12px;
	background-color: #e5e5e5;
	color: #3f4c54;
	margin: 0;
	padding: 0;
}

div.documentwrapper {
	float: left;
	width: 100%;
}

div.bodywrapper {
	margin: 0 0 0 230px;
}

div.body {
	padding: 10px 0px;
}

div.footer {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

/* -- hyperlink styles ------------------------------------------------------ */
a {
	color: #5FA9BC;
	text-decoration: none;
}

a:visited {
	color: #5FA9BC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* -- body styles ----------------------------------------------------------- */
div, p, blockquote, pre, code, li, dt, td, th, label, legend, input {
	font-size: 12px;
}

div.body h1 {
	border-bottom: 1px solid #cecece;
	color: #777777;
	font-size: 150%;
	font-weight: bold;
	margin: 0 0 0.5em 0;
	padding: 0 0 0.25em 0px;
}

div.body h2 {
	border-bottom: 1px solid #cecece;
	color: #777777;
	font-size: 125%;
	font-weight: bold;
	margin: 0 0 0.5em 0;
	padding: 0 0 0.25em 0px;
}

div.body h3, div.body h4, div.body h5, div.body h6 {
	font-weight: bold;
	color: #777777;
	margin: 0 0 0.5em 0;
	padding: 0;
}

div.body p, div.body dd, div.body li {
	text-align: left;
	line-height: 1.25em;
}

div.body p {
	margin: 0 0 1em 0;
}

div.body ul {
	margin: 0 0 1em 0;
	padding: 0 0 0 1em;
	list-style-type: none;
}

div.body ul li:before {
	content: '\203A';
	/* display: block; */
	float: left;
	margin: 0 0 0 -0.75em;
}

div.body ul ul {
	margin: 0;
}

div.admonition p.admonition-title+p {
	display: inline;
}

div.admonition p {
	margin-bottom: 5px;
}

div.admonition pre {
	margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
	margin-bottom: 5px;
}

div.note {
	background-color: #f0f0f0;
	border: 1px solid #cecece;
}

div.seealso {
	background-color: #f0f0f0;
	border: 1px solid #cecece;
}

div.topic {
	background-color: #f0f0f0;
}

div.warning {
	background-color: #ffe4e4;
	border: 1px solid #f66;
}

p.admonition-title {
	display: inline;
}

p.admonition-title:after {
	content: ":";
}

pre {
	padding: 1em;
	background-color: #f5f5f5;
	/* color: #777777; */
	line-height: 120%;
	border: 1px solid #cecece;
	border-left: none;
	border-right: none;
}

.warning tt {
	background: #ffe4e4;
}

.note tt {
	background: #f0f0f0;
}

code, pre {
	-fx-font-family: "Ubuntu Mono";
	font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Menlo', 'source-code-pro', monospace;
	font-size: 12px;
}