<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${packageName}.${identity}</title>
    <link rel="stylesheet" type="text/css" href="${cssFile}">
    <link rel="stylesheet" type="text/css" href="${aceCssFile}">
</head>
<body>
<main>
    <section id="header">
        <header><h1><a href="../${packageName}/_index.html">${packageName}</a>.${identity}</h1></header>
        <p class="construct-description">${description}</p>
    </section>
    <section id="signature">
        <header><h2>Signature</h2></header>
        <div class="signature-content">
            <span class="package-name">${packageName}</span>.<span class="construct-name">${identity}</span>
                (
                <#if parameters?size != 0>
                <span class="parameters">
                    <br>
                    <#list parameters as parameter>
                    <span class="parameter">
                        <span class="parameter-type">
                            <a href="../docs/structures.html">${parameter.type}</a>
                        </span>
                        <span class="parameter-name">
                            ${parameter.name}
                        </span>
                        <#if parameter.defaultValue??>
                        = <span class="parameter-default">${parameter.defaultValue}</span>
                        </#if>
                        <#if parameter?index + 1 != parameters?size>
                        ,
                        </#if>
                    </span>
                    <br>
                    </#list>
                </span>
                );
                </#if>
            </span>
        </div>
        <table>
        </table>
    </section>

    <#if parameters?? && parameters?size != 0>
    <section id="parameters">
        <header><h2>Parameters</h2></header>
        <div class="parameter-list">
        <#list parameters as parameter>
        <div class="parameter-row">
            <table class="parameter-table">
                <tr><th>Name: </th><td>${parameter.name}</td></tr>
                <tr><th>Type: </th><td><a href="../docs/structures.html">${parameter.type}</a></td></tr>
                <#if parameter.defaultValue??>
                <tr><th>Default: </th><td>${parameter.defaultValue}</td></tr>
                </#if>
                <#if parameter.description?? && parameter.description?length != 0>
                <tr><th>Description: </th><td>${parameter.description}</td></tr>
                </#if>
            </table>
        </div>
        </#list>
        </div>
    </section>
    </#if>

    <#if examples?? && examples?size != 0>
    <section id="examples">
        <header><h2>Examples</h2></header>
        <#list examples as example>
            <#if example.title??>
            <h3>${example.title}</h3>
            </#if>
            <div class="example">
                <#list example.nodes as node>
                <div class="example-node ${node.tag}"><#if node.contents??>${node.contents}</#if></div>
                </#list>
            </div>
        </#list>
    </section>
    </#if>

    <#if references?? && references?size != 0>
    <section id="references">
        <header><h2>See Also</h2></header>
        <#list references as reference>
        <#if reference.package??>
            <a href="../${reference.package}/${reference.construct}.html">${reference.package}.${reference.construct}()</a>
        </#if>
        <#if !(reference.package??)>
            <a href="${reference.construct}.html">${packageName}.${reference.construct}()</a>
        </#if>
        </#list>
    </section>
    </#if>
</main>
<script src="${aceFile}"></script>
<script src="${aceLoader}"></script>
</body>
</html>