<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xill Documentation</title>
    <link rel="stylesheet" type="text/css" href="${cssFile}">
</head>
<body>
<main>
    <section id="header">
        <h1>Xill Documentation</h1>
    </section>
    <section id="packages">
        <h2>Packages</h2>
        <#list packages as package>
        <#list package.constructs>
        <div class="package ${package.packageName}">
            <h3>${package.packageName}</h3>
            <ul>
                <#items as construct>
                <li><a href="${package.packageName}/${construct.identity}.html"><strong>${construct.identity}</strong>(<#list construct.parameters as parameter><#if parameter?index != 0>, </#if>${parameter.name}</#list>)</a></li>
                </#items>
            </ul>
        </div>
        </#list>
        </#list>

    </section>
</main>
</body>