<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xill Documentation</title>
    <link rel="stylesheet" type="text/css" href="${jarFile}docgen/resources/_assets/css/style.css">
</head>
<body>
<main>
    <section id="header">
        <h1>Xill Documentation</h1>
    </section>
    <section id="packages">
        <h2>Xill Language</h2>
            <ul>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000061410-basic-syntax"><strong>Basic syntax</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000091708-operators"><strong>Operators</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000091705-keywords"><strong>Keywords</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000061436-variable-types"><strong>Variable types</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000092997-collections"><strong>Collections</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000061441-function"><strong>Function</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000061411-comments"><strong>Comments</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000092013-using-libraries-include"><strong>Using libraries: include</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000061419-if-else-and-while"><strong>If, else and while</strong></a></li>
                <li><a href="http://support.xillio.com/support/solutions/articles/6000061427-foreach"><strong>Foreach</strong></a></li>
            </ul>
        <h2>Packages</h2>
        <#list packages as package>
        <#list package.constructs>
        <div class="package ${package.packageName}">
            <h3>${package.packageName}</h3>
            <ul>
                <#items as construct>
                <li><a href="${package.packageName}/${construct.identity}.html"><strong>${construct.identity}</strong>(<#list construct.parameters as parameter><#if parameter?index != 0>, </#if>${parameter.name}</#list>)</a></li>
                </#items>
            </ul>
        </div>
        </#list>
        </#list>
    </section>
</main>
</body>