<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${packageName}</title>
    <link rel="stylesheet" type="text/css" href="${cssFile}">
</head>
<body>
<main>
    <section id="header">
        <h1><a href="../index.html">Packages</a> &gt; ${packageName}</h1>
    </section>
    <section id="contents">
        <h2>Constructs</h2>
        <div class="package">
        <ul>
            <#list constructs as construct>
            <li>
                <a href="${construct.identity}.html"><strong>${construct.identity}</strong>(<#list construct.parameters as parameter><#if parameter?index != 0>, </#if><span class="parameter">${parameter.name}</span></#list>);</a>
            </li>
            </#list>
        </ul>
        </div>
    </section>
</main>
</body>