<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading help</title>
    <link rel="stylesheet" type= ${style}>
    <style>
        .main {
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            resize: vertical;
            overflow: auto;
        }
        .main img{
            width: 70%;
        }
    </style>
</head>
<body>
<div class="main">
    <h1>Loading...</h1>
    <img src= ${splash} />
</div>
</body>
</html>